<mat-toolbar class="navbar" *ngIf="!isMobile">
  <a class="nav-link" routerLink="">
    <img src="./assets/images/logo.png" title="Home" alt="Home" id="logo">
  </a>
  <span class="spacer"></span>

  <button mat-button routerLink="/extension">
    {{'extension' | translate | uppercase}}
  </button>

  <button mat-button routerLink="/renovation-interieure">
    {{'renovationInterieure' | translate | uppercase}}</button>

  <button mat-button routerLink="/menuiserie-exterieure">
    {{'menuiserieExterieure' | translate | uppercase}}</button>

  <button mat-button routerLink="/presentation">
    {{'quiSommesNous' | translate | uppercase}}
  </button>

  <span class="spacer"></span>

  <button mat-button aria-label="Contactez-nous" routerLink="/devis">
    <mat-icon>email</mat-icon>
    {{'contactezNous' | translate}}
  </button>
</mat-toolbar>