<mat-grid-list cols="3" class="grid">
  <mat-grid-tile>
    <mat-nav-list dense>
      <h3 class="list-item-title" matSubheader>{{'All\'in design' | uppercase}}</h3>
      <a mat-list-item class="list-item-link" routerLink="/presentation">Qui sommes-nous</a>
      <a mat-list-item class="list-item-link" routerLink="/quality-charter">Notre charte qualité</a>
      <a mat-list-item class="list-item-link" routerLink="/partner">Partenaire</a>
      <a mat-list-item class="list-item-link" routerLink="/faq">Foire aux questions</a>
      <a mat-list-item class="list-item-link" routerLink="/terms-conditions">Conditions générales d'intervention
      </a>
      <a mat-list-item class="list-item-link" routerLink="/legal-notice">Mentions légales</a>
    </mat-nav-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-nav-list dense>
      <h3 class="list-item-title" matSubheader>{{'Nos domaines d\'interventions' | uppercase}}</h3>
      <a mat-list-item class="list-item-link" routerLink="/extension">Extension</a>
      <a mat-list-item class="list-item-link" routerLink="/renovation-interieure">Rénovation intérieure</a>
      <a mat-list-item class="list-item-link" routerLink="/menuiserie-exterieure">Menuiserie extérieure</a>
      <h3 class="list-item-title" matSubheader>{{'Nos partenaires' | uppercase}}</h3>
      <a mat-list-item class="list-item-link" routerLink="/presentation">La maison des architectes</a>
      <a mat-list-item class="list-item-link" routerLink="/quality-charter">Expert bricolage</a>
      <a mat-list-item class="list-item-link" routerLink="/partner">Intégrer notre réseau</a>
    </mat-nav-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-nav-list dense>
      <h3 class="list-item-title" matSubheader>{{'Nos Guides Thématiques' | uppercase}}</h3>
      <a mat-list-item class="list-item-link" routerLink="/who">Rénovation de maison</a>
      <a mat-list-item class="list-item-link" routerLink="/quality-charter">Construction de véranda</a>
      <a mat-list-item class="list-item-link" routerLink="/partner">Extension en bois</a>
      <a mat-list-item class="list-item-link" routerLink="/faq">Surélévation de maison</a>
      <a mat-list-item class="list-item-link" routerLink="/terms-conditions">La rénovation énergétique</a>
      <a mat-list-item class="list-item-link" routerLink="/legal-notice">Rénovation d'appartement</a>
    </mat-nav-list>
  </mat-grid-tile>
</mat-grid-list>