<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img *ngIf="i === currentSlide" [src]="slide.src" class="slide" @carrouselAnimation />
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>

  <div id="slogan">{{'Vos rêves sur mesure' | uppercase}}</div>

  <!-- <div id="slogan">
    <div class="slogan-text">{{'Vos rêves'}}</div>
    <div class="slogan-text">
      <span>&nbsp;{{'sur mesure'}}</span>
    </div>
  </div> -->


</div>