<div class="devis">
<mat-card class="card">
  <mat-card-header *ngIf="!isUpdate">
    <mat-card-title>{{"devisTitre" | translate}}</mat-card-title>
    <mat-card-subtitle>{{"devisSousTitre" | translate}}</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="devisForm" (ngSubmit)="submitForm()" class="devisForm">
  <mat-card-content>
    
    <mat-radio-group formControlName="civilite">
      <mat-radio-button value="f">
        {{"f" | translate}}
      </mat-radio-button>
      <mat-radio-button value="m">
        {{"m" | translate}}
      </mat-radio-button>
    </mat-radio-group>

    <br><br>
    
    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput [placeholder]="'prenom' | translate" required formControlName="prenom">
    </mat-form-field>
    
    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput [placeholder]="'nom' | translate" required formControlName="nom">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field-one-row" [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput [placeholder]="'adresse' | translate" required formControlName="adresse">
    </mat-form-field>
    <br>

    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput [placeholder]="'codePostal' | translate" required formControlName="codePostal">
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput [placeholder]="'ville' | translate" required formControlName="ville">
    </mat-form-field>
    <br>

    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput type="email" [placeholder]="'email' | translate" required formControlName="email">
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <input matInput type="tel" [placeholder]="'telephone' | translate" required formControlName="telephone">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field-one-row" [hideRequiredMarker]="devisForm.value.hideRequired" [floatLabel]="devisForm.value.floatLabel">
      <textarea matInput #description maxlength="2000" [placeholder]="'descriptifProjet' | translate" required formControlName="description"></textarea>
      <mat-hint align="end">{{description.value.length}} / 2000</mat-hint>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions *ngIf="!readOnly">
    <button type="reset" mat-stroked-button>{{'effacer' | translate | uppercase}}</button>
    <button type="submit" mat-button>{{'envoyer' | translate | uppercase}}</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="readOnly">
    <button type="button" mat-button (click)="canUpdate()">{{'modifier' | translate | uppercase}}</button>
  </mat-card-actions>
</form>
</mat-card>

</div>