@import "../../theme.scss";

.devis {
    width:100%;
    // background-color: $secondary;
    padding-top:20px;
}
.card {
    margin: 0 auto;
    width:70%;    
}

.mat-radio-button {
    padding-right: 16px;
}

.mat-form-field {
    width:45%;
    padding-right: 16px;
}

.mat-form-field-one-row {
    width: calc(90% + 16px);
}
