@import "../../theme.scss";

@mixin inline {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

@mixin theme-color($background-color, $color) {
	&:hover {
		&:before {
			border-left: 10px solid $background-color;
		}

		a {
			color: $color;
			background: $background-color;
		}
	}
	&.active {
		a {
			color: $color;
			background: $background-color;
		}
	}
}

.description {
	padding-left: 15px;
	border-left: 2px solid #000;

	h3 {
		font-weight: 300;
		font-size: 20px;
		line-height: 20px;
		margin: 0px;
		color: #000;
		text-transform: uppercase;
	}

	p {
		margin-top: 10px;
		font-weight: 300;
	}
}

.wrapper {
	margin-left: 50px;
}

ul.breadcrumbs {
	margin: 25px 0px 0px;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
	@include inline;
	height: 40px;

	li {
		position: relative;
		margin: 0px 0px;
		padding: 0px;
		list-style: none;
		list-style-image: none;
		@include inline;
		border-left: 1px solid #ccc;
		transition: 0.3s ease;

		&.blue {
			@include theme-color($vk-blue, #fff);
		}
		&.yellow {
			@include theme-color($vk-yellow, #000);
		}
		&.pink {
			@include theme-color($vk-pink, #fff);
		}

		&:before {
			content: "";
			position: absolute;
			right: -9px;
			top: -1px;
			z-index: 20;
			border-left: 10px solid #fff;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			transition: 0.3s ease;
		}

		&:after {
			content: "";
			position: absolute;
			right: -10px;
			top: -1px;
			z-index: 10;
			border-left: 10px solid #ccc;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
		}
		
		&.first {
			border-left: none;

			a {
				font-size: 18px;
				padding-left: 20px;
				border-radius: 5px 0px 0px 5px;
			}
		}

		&.last {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}

			a {
				padding-right: 20px;
				border-radius: 0px 40px 40px 0px;
			}
		}

		a {
			display: block;
			font-size: 12px;
			line-height: 40px;
			color: #757575;
			padding: 0px 15px 0px 25px;
			text-decoration: none;
			background: #fff;
			border: 1px solid #ddd;
			white-space: nowrap;
			overflow: hidden;
			transition: 0.3s ease;
		}
	}
}

