<!-- <app-breadcrumb></app-breadcrumb> -->
<hr id="separator" [ngClass]="{
    'blue': color==='blue',
    'yellow': color==='yellow',
    'pink': color==='pink'
}">
<h1 id="title">{{title | uppercase}}</h1>
<h5 id="subtitle">{{subtitle}}</h5>

<div id="cards">
  <a *ngFor="let intervention of interventions" routerLink="/{{intervention.getUrl()}}">
    <mat-card class="mat-card card-{{intervention.domaineIntervention.id}}">

      <img mat-card-image src="{{intervention.image}}" alt="Photo de {{intervention.libelle}}">

      <mat-card-footer>
        {{intervention.libelle}}
      </mat-card-footer>

    </mat-card>
  </a>
</div>