<h5 class="subtitle">Nos domaines d'intervention</h5>
<mat-grid-list cols="3" class="grid-list">
  <mat-grid-tile>
    <a routerLink="/extension">
      <mat-card class="card-extension">
          <mat-card-title>Extension</mat-card-title>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </a>
  </mat-grid-tile>


  <mat-grid-tile>
    <a routerLink="/renovation-interieure">
      <mat-card class="card-renovation-interieure">
        <mat-card-title>Rénovation intérieure</mat-card-title>
        <img mat-card-image src="../../../assets/images/renovation-interieure.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </a>
  </mat-grid-tile>

  <mat-grid-tile>
    <a routerLink="/menuiserie-exterieure">
      <mat-card class="card-menuiserie-exterieure">
          <mat-card-title>Menuiserie extérieure</mat-card-title>
        <img mat-card-image src="../../../assets/images/menuiserie-exterieure.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>