.mat-radio-button {
    padding-right: 16px;
}

.mat-form-field {
    width:90%;
    padding-right: 16px;
}

.mat-form-field-one-row {
    width: calc(90% + 16px);
}

.card {
    margin: 0 auto;
    width:70%;    
}